img{
    width:100%;
}

.logo{
    width:100px;
}

.container {
  margin: 0 auto 30px auto;
}

.col-md-6 {
    opacity: 0.5;
}

.bg-img {
    background: url(../img/main.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    height: 100vh;
}